* {
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    font-family: 'Arial';
}

.header-wrapper, content{ 
    width: 100%;
}

#footer-wrapper {
    width: 100%;
    margin-top: 300px; /* Adjust the value as needed */
}