/************ Banner Style ***************/

/* Slider Container */
.slider-container {
    position: relative;
    width: 100%;
    height: 30rem;
    margin: 0 auto;
    overflow: hidden;
}

/* Image Container */
.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
    z-index: 0;
}

.image-container.active {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Image Styling */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Navigation Arrows */
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    z-index: 2;
}

.slick-prev {
    left: 3rem;
}

.slick-next {
    right: 3rem;
}

/* Dots */
.slick-dots {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    z-index: 3;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}
