.brand-header {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.brand-background {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); /* Darkens the background image */
}

.brand-description {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}


.brand-info {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.brand-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.brand-text {
    font-size: 1.2em;
}

.brand-text h2 {
    margin: 0;
    font-size: 1.5em;
}

.brand-subtitle {
    color: #666;
    margin-top: 5px;
}

.brand-stats {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}

.followers,
.styles {
    font-weight: bold;
}

.brand-actions {
    display: flex;
    gap: 10px;
}

.follow-button,
.share-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.follow-button {
    background-color: #333;
    color: white;
}

.share-button {
    background-color: white;
    color: #333;
    border: 1px solid #333;
}

.shop-button-container {
    text-align: center;
    margin: 30px 0;
}

.shop-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333; /* Button background color */
    color: #fff; /* Button text color */
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.shop-button:hover {
    background-color: #555; /* Hover background color */
}
